@import '~antd/dist/antd.css';

@import './app.container';
@import './pub.codeexample';
@import './pub.mdbox';
@import './pub.propstable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}