$border-color: #ebedf0;
$toggle-btn-size: 30px;
$red-6: #f5222d;
$red-1: #fff1f0;

.dictc-code-example-container {
  margin: 10px 0;
  border: 1px solid $border-color;
  border-radius: 2px;
  .dictc-code-example-component {
    padding: 20px;
    position: relative;
    .example-btn {
      position: absolute;
      width: $toggle-btn-size;
      height: $toggle-btn-size;
      line-height: $toggle-btn-size;
      text-align: center;
      cursor: pointer;
      color: #bbbbbb;
      transition: all 0.3s ease-in;
      &:hover {
        color: #333333;
        width: $toggle-btn-size;
        height: $toggle-btn-size;
      }
    }
    .copy-code-button {
      bottom: 6px;
      right: 36px;
      font-size: 16px;
    }
    .toggle-source-btn {
      transform: scale(0.6,1);
      bottom: 6px;
      right: 6px;
      font-size: 17px;
    }
  }
  .dictc-code-example-source {
    padding: 20px;
  }
}

// overwrite style of react-live LiveError component
// see https://github.com/FormidableLabs/react-live#liveerror-
.react-live-error {
  color: $red-6;
  margin: 8px 0;
  padding: 0 5px;
  background: $red-1;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}
